<h1><%= link_to 'New Question', new_question_path %></h1>
<h1><%= link_to 'Answer Question',display_question_path %></h1>
Question List:
<% @question.each do |question| %>

<table>
	<tr>
		<td>Question#<%= question.qid %>. <%= question.content %></td> <td>Value:<%= question.reward %></td>
 	</tr>
 	<tr>
 		<td>Choices</td>
 		<td><%= question.ans1 %></td>
 		<td><%= question.ans2 %></td>
 		<td><%= question.ans3 %></td>
 		<td><%= question.ans4 %></td>
 	</tr>
 	<tr>
 		<td>Correct Answer:<%= question.answer %></td> 
 		<td><%= link_to 'Show', question_path(question) %></td>
 		<td><%= link_to 'Edit', edit_question_path(question) %></td>
 		
 		<td><%= link_to 'Destroy', question_path(question),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
 	</tr>
 	</table><br>

   
  <% end %>
