<h1>Leaderboard</h1>

<table id="leaderboards">
  <div class="leaderboard-tab">
    <%= link_to 'Percent Increase', leaderboard_path %>
    <span class="highlight">Net Worth</span>
  </div>
  <tr class='leader-table-header'>
    <th>Rank</th>
    <th class="center-align">Name</th>
    <th class="rank-value">Percent Increase</th>
  </tr>
  <tr id="first-place">
    <td class="ranking">1st</td>
    <td class="ranker"><%= link_to @first[@name_index], user_path(@first[@user_id_index]) %></td>
    <td class="rank-value"><%= @first[@rank_value_index] %> rubies</td>
  </tr>
  <tr id="second-place">
    <td class="ranking">2nd</td>
    <td class="ranker"><%= link_to @second[@name_index], user_path(@second[@user_id_index]) %></td>
    <td class="rank-value"><%= @second[@rank_value_index] %> rubies</td>
  </tr>
  <tr id="third-place">
    <td class="ranking">3rd</td>
    <td class="ranker"><%= link_to @third[@name_index], user_path(@third[@user_id_index]) %></td>
    <td class="rank-value"><%= @third[@rank_value_index] %> rubies</td>
  </tr>
  <% @leaders.each do |leader|  %>
    <tr id="leaders">
      <td class="ranking"><%= leader[@ranking_index] %>th</td>
      <td class="ranker"><%= link_to leader[@name_index], user_path(leader[@user_id_index]) %></td>
      <td class="rank-value"><%= leader[@rank_value_index] %> rubies</td>
    </tr>
  <% end %>
</table>
