<div class="col-md-6">
<h1 class="h1center">Trending Tickers</h1>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Symbol</th>
      <th>Current Price</th>
			<th>Change</th>
			<th>% Change</th>
    </tr>
  </thead>
  <tbody>
    <% if @stock_for_user.nil? %>
    <tr>
      <td>This information is currently unavailable</td>
    </tr>
    <% else %>
    <% @stock_for_user.each do |stock| %>
      <tr>
        <td><%= link_to stock[0].name, stock_path(id: stock[0]) %></td>
        <td><%= link_to stock[0].symbol, stock_path(id: stock[0]) %></td>
        <td><%= stock[0].current_price %></td>
        <% if stock[0].amount_change.to_f >= 0 %>
        <td class="positive_change"><%= stock[0].amount_change %></td>
        <% else %>
        <td class="negative_change"><%= stock[0].amount_change %></td>
        <% end %>
        <% if stock[0].percent_change.to_f >= 0 %>
        <td class="positive_change"><%= stock[0].percent_change %></td>
        <% else %>
        <td class="negative_change"><%= stock[0].percent_change %></td>
        <% end %>

      </tr>
      <% end %>
    <% end %>

  </tbody>
</table>

</div>
<div class="col-md-6">
    <h1 class="h1center">Latest News</h1>

	<table class="table table-striped">
  <thead>
		<tr>
			<th> Article Name</th>
			<th> Publish date</th>
			</tr>
		</thead>
		<tbody>
  		<% @feed.each do |entry| %>
			<tr>
		    <td class="hyperlink-news"><%= link_to h(entry.name), entry.url, :target => "_blank" %></td>
				<td><%= entry.published_at.to_formatted_s(:long_ordinal)  %></td>
			</tr>
  		<% end %>
		</tbody>
	</table>
</div>
