<% if logged_in? %>
	<div class="row">
		<aside class="col-md-4">
	  		<section class="user_info">
	    		<%= render 'shared/user_info' %>
	  		</section>
	  		<section class="stats">
	    		<%= render 'shared/stats' %>
	  		</section>

		</aside>

	</div>
    
    <h2>Tracked Stocks</h2>
    <%= render "stocks/list", stocks: @user_stocks %>

<% else %>

	<%= render 'jumbotron' %>
	<!--<%= link_to image_tag("rails.png", alt: "Rails logo"),
              'http://rubyonrails.org/' %>-->
<% end %>

<h2>Trending Tickers</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Symbol</th>
      <th>Current Price</th>
			<th>Change</th>
			<th>% Change</th>
    </tr>
  </thead>
  <tbody>
    <% @stocks.each do |stock| %>
    <tr>
      <td><%= stock.name %></td>
      <td><%= stock.symbol %></td>
      <td><%= stock.last_trade_price_only %></td>
			<td><%= stock.change %></td>
			<td><%= stock.percent_change %></td>

    </tr>
    <% end %>

  </tbody>
</table>
