<% if logged_in? %>
	<div class="row">
		<aside class="col-md-4">
	  		<section class="user_info">
	    		<%= render 'shared/user_info' %>
	  		</section>
	  		<section class="stats">
	    		<%= render 'shared/stats' %>
	  		</section>

		</aside>

	</div>
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th>Symbol</th>
	      <th>Current Price</th>
	      <% if @user.id == current_user.id %>
	        <th>Actions</th>
	      <% end %>
	    </tr>
	  </thead>
	  <tbody>
	    <% @user_stocks.each do |user_stock| %>
	    <tr>
	      <td><%= user_stock.name %></td>
	      <td><%= user_stock.symbol %></td>
	      <td><%= user_stock.current_price %></td>
	      <% if @user.id == current_user.id %>
	      <td>
	        <%= link_to 'Un-track', user_stock_path(user_stock), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %>
	        <!--## will only delte association-->

            <%= link_to "Buy", new_transaction_path(:symbol => user_stock.symbol, buy_sell: true), method: "get", class: "btn btn-xs btn-primary", remote: true, "data-toggle": "modal", "data-target": "#transaction-modal" %>

            <%= link_to "Sell", new_transaction_path(:symbol => user_stock.symbol, buy_sell: false), method: "get", class: "btn btn-xs btn-primary", remote: true, "data-toggle": "modal", "data-target": "#transaction-modal" %>

	      </td>
	      <% end %>
	    </tr>
	    <% end %>

	  </tbody>
	</table>

    <%= render 'transactions/form_modal' %>

<% else %>

	<%= render 'jumbotron' %>
	<!--<%= link_to image_tag("rails.png", alt: "Rails logo"),
              'http://rubyonrails.org/' %>-->
<% end %>

<h2>Trending Tickers</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Symbol</th>
      <th>Current Price</th>
			<th>Change</th>
			<th>% Change</th>
    </tr>
  </thead>
  <tbody>
    <% @stocks.each do |stock| %>
    <tr>
      <td><%= stock.name %></td>
      <td><%= stock.symbol %></td>
      <td><%= stock.last_trade_price_only %></td>
			<td><%= stock.change %></td>
			<td><%= stock.percent_change %></td>

    </tr>
    <% end %>

  </tbody>
</table>
<div id="recent_episodes">
  <h3>Recent Stock Markets Analysis & Opinion</h3>
  <ul>
  <% @feed.each do |entry| %>
    <li><%= link_to h(entry.name), entry.url %></li>
		<li><%= entry.published_at %></li>
  <% end %>
  </ul>
</div>
