<% if logged_in? %>

	<div class="row">
		<aside class="col-md-4">
	  		<section class="user_info">
	    		<%= render 'shared/user_info' %>
	  		</section>
	  		<section class="stats">
	    		<%= render 'shared/stats' %>
	  		</section>

		</aside>

	</div>
	<h1 class="h1center">Tracked Stocks</h1>
    <%= render "stocks/list", stocks: @user_stocks %>

<%= render 'tickernews' %>
</div>

<% else %>

	<%= render 'jumbotron' %>
	
	<%= render 'tickernews' %>
<% end %>
