<% if stocks.count <= 0 %>

No stocks found.

<% else %>

<table class="table table-striped trackedList">
  <thead>
    <tr>
      <th>Name</th>
      <th>Symbol</th>
      <th>Quote</th>
      <th>Up/Down</th>
      <th>Actions</th>
      <th>View</th>
    </tr>
  </thead>
  <tbody>

    <% stocks.each do |stock| %>
    <tr>
      <td><%= link_to stock.name, stock_path(id: stock) %></td>
      <td><%= link_to stock.symbol, stock_path(id: stock) %></td>
      <td><%= stock.current_price %></td>
      <% if stock.amount_change >= 0%>
      <td class="positive_change"><%= stock.amount_change %></td>
      <% else %>
      <td class="negative_change"><%= stock.amount_change %></td>
      <% end %>
      <td>
        <%= link_to "Buy", new_transaction_path(:symbol => stock.symbol, buy_sell: true), method: :get, class: "btn btn-xs btn-primary", remote: true, "data-toggle": "modal", "data-target": "#transaction-modal" %>

        <%= link_to "Sell", new_transaction_path(:symbol => stock.symbol, buy_sell: false), method: :get, class: "btn btn-xs btn-primary", remote: true, "data-toggle": "modal", "data-target": "#transaction-modal" %>

        <% if current_user.can_add_stock?(stock.symbol) %>
            <%= link_to "Track", user_stocks_path(stock_symbol: stock.symbol, stock_id: stock.id ? stock.id : ""), class: "btn btn-xs btn-success", method: :post %>
        <% else %>
            <%= link_to "Un-track", user_stock_path(stock), method: :delete, class: "btn btn-xs btn-danger" %>
        <% end %>
      </td>
      <td><%= link_to "Details", stock, class: "btn btn-xs btn-primary" %></td>
    </tr>
    <% end %>

  </tbody>
</table>

<% end %>
