// var win = window.open('<%= my_portfolio_path %>', "_self");

var init_stock_lookup = function() {
  
  $('#stock-lookup-form').on('ajax:before', function(event, data, status) {
    $('#spinner').show();
  })
  $('#stock-lookup-form').on('ajax:after', function(event, data, status) {
    $('#spinner').hide();
  })
  
  var resultsdiv = $(".searchresults")
  resultsdiv.css({
    "background-color": "#cde364",
    "padding": "4px",
    "border-radius": "5px"

  })

  var stocklookup = $("#stock-lookup-results")
  stocklookup.addClass("well results-block");
  stocklookup.empty();
  
  //apend the symbols
  stocklookup.
  append('<strong><%= @stock.symbol %> - <%= @stock.name %> </strong> <strong> Price: <%= @stock.current_price %></strong>');
  
  stocklookup.
  append(" <% if @stock.amount_change >= 0%>\
    <p class='positive_change'><%= @stock.amount_change %> ( <%= @stock.percent_change %> )</p>\
    <% else %>\
    <p class='negative_change'> <%= @stock.amount_change %> ( <%= @stock.percent_change %> )</p>\
    <% end %>" )
  //make a clickable button
  
  stocklookup.append("<%= j render 'useradd' %>")
  
  var stockLookupChart = $("#stock-lookup-chart")
  stockLookupChart.empty();
  stockLookupChart.append('<img src=<%= @chart_url %> />');
}

$(document).ready(function() {
  init_stock_lookup();
});
