<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>

      </h1>
      <p>
      	<%= @user.currency %>
      </p>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>

    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>

  </div>
  
    <% if @user.stocks.size > 0 %>
      <%= render 'stocks/list' %>
    <% else %>
      <% if @user != current_user %>
        <p class="lead">This user is not tracking any stocks</p>
      <% end %>
    <% end %>
  
</div>
