<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>

      </h1>
      <% if @user == current_user %>
      <p>
        <%= sprintf("%2.2f",@user.currency) %> rb
      </p>
      <% end %>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>

    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>

  </div>

</div>
<div class="row">
  <% if @user.stocks.size > 0 %>
      <h1 class="h1center">Tracked Stocks</h1>
      <%= render 'stocks/list', stocks: @user_stocks %>
    <% else %>
      <% if @user != current_user %>
        <p class="lead">This user is not tracking any stocks</p>
      <% end %>
    <% end %>
</div>

<!-- 
style width and height

-->
<% if @user == current_user %>
<div id="networth-chart" style="width:80%;height:400px;">
</div>

<%= high_chart_globals(@chart_globals) %>
<%= high_chart("networth-chart", @chart) %>
<% end %>