<%= form_for(transaction, remote: true) do |f| %>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title" id="myModalLabel"><%= @stock.name %></h3>
    <h4><%= @stock.current_price %></h4>
</div>

<div class="modal-body">

  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group btn-group" data-toggle="buttons">
      <% if transaction.buy_sell == true  %>
          <label class="btn btn-primary active">
            <%= f.radio_button :buy_sell, true, checked: true %> Buy
          </label>
          <label class="btn btn-primary">
            <%= f.radio_button :buy_sell, false %> Sell
          </label>
      <% else %>
          <label class="btn btn-primary">
            <%= f.radio_button :buy_sell, true %> Buy
          </label>
          <label class="btn btn-primary active">
            <%= f.radio_button :buy_sell, false, checked: true %> Sell
          </label>
      <% end %>
    </div>

  <div class="form-group">
    <%= f.label :amount %>
    <div class="input-group">
        <div class="input-group-addon">$</div>
        <%= f.number_field :total_price, :step => 0.01, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :quantity %>
    <%= f.number_field :quantity, class: "form-control" %>
  </div>

  <% owned_stock = current_user.user_owned_stocks.find_by(stock_id: @stock.id) %>
  <div class="form-group">
    You currently have <strong>$<%= current_user.currency %></strong> rubies available
    <br>
    and own <strong>$<%= owned_stock != nil ? @stock.current_price * owned_stock.quantity_owned : "0" %></strong> of <%= @stock.symbol %> in value.
  </div>

  <%= hidden_field_tag :stock_symbol, @stock.symbol %>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    <button type="submit" class="btn btn-primary">Make Transaction</button>
</div>

<% end %>


