<p id="notice"><%= notice %></p>

<h1>Transactions</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Stock</th>
      <th>Unit Price</th>
      <th>Quantity</th>
      <th>Total price</th>
      <th>Action</th>
      <th>Transaction Time</th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.order(created_at: :desc).each do |transaction| %>
      <% stock = Stock.find(transaction.stock_id) %>
      <tr>
        <td><%= stock.name %></td>
        <td><%= stock.symbol %></td>
        <td><%= number_to_currency(transaction.current_stock_val) %></td>
        <td><%= transaction.quantity %></td>
        <td><%= number_to_currency(transaction.total_price) %></td>
        <td><%= transaction.buy_sell ? "Buy" : "Sell" %></td>
        <td><%= transaction.created_at.strftime("%c") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
