<p id="notice"><%= notice %></p>

<h1>Transactions</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Stock</th>
      <th>Current stock val</th>
      <th>Quantity</th>
      <th>Total price</th>
      <th>Buy sell</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.user_id %></td>
        <td><%= transaction.stock_id %></td>
        <td><%= transaction.current_stock_val %></td>
        <td><%= transaction.quantity %></td>
        <td><%= transaction.total_price %></td>
        <td><%= transaction.buy_sell %></td>
        <td><%= link_to 'Show', transaction %></td>
        <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
        <td><%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transaction', new_user_transaction_path %>
