<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>

    <div class="container">

      <div class="flash-alerts">
		<% flash.each do |message_type, message| %>
			<div class="alert alert-<%= message_type %> alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <%= message %>
            </div>
		<% end %>
      </div>

      <%= render 'transactions/form_modal' %>

      <%= render 'layouts/stock_results' %>

      <%= yield %>

      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>

    </div>

<%= render 'questions/question_modal' %>
<div class="fixed">

<%if logged_in? %>
<% @display_question_bool=  !current_user.question_answered %>
<%end%>

<%if @display_question_bool %>
<%= link_to 'Answer Daily Questions', display_question_path, method: :get,
  class: "fixed btn-info btn" , remote: true, "data-toggle": "modal", "data-target": "#question-modal" %>

  <% end %>
 

<% if false %>

<%= link_to( 'Answer Daily Question', questions_path, remote: true, "data-toggle": "modal" ) %>
<%= link_to( 'Answer Daily Question', questions_path, 'data-popup' => true ) %>
<% end %>

</div>
  </body>
</html>
